@{
    ViewData["Title"] = "Home Page";
}

test

<form method="post" asp-action="Upload" asp-controller="CursisUpload" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload Cursussen" />
</form>