@model IEnumerable<Frontend.Agents.Models.Course>
@{
    ViewData["Title"] = "Cursussen";
}
<br />
<h1>Cursus overzicht</h1>
@if (Model.Count() == 0)
{
    <p>Nog geen cursussen toegevoegd. <a asp-area="" asp-controller="CourseUpload" asp-action="Index">Importeer ze hier!</a></p>
} else { 
    <div id="week-navigation">
        <i style="float:left" class="glyphicon glyphicon-chevron-left"></i>
        <h2 style="text-align:center">Week: 12</h2>
        <i style="float:right" class="glyphicon glyphicon-chevron-right"></i>
    </div>
    <table class="table">
        <thead>
            <th>Startdatum</th>
            <th>Duur in dagen</th>
            <th>Titel</th>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.StartDate</td>
                    <td>@course.DurationInDays</td>
                    <td>@course.Title</td>
                </tr>
            }
        </tbody>
    </table>
}
